ede-projects.el
srecode-map.el
swank/
/history
/auto-save-list
*.elc
/customizations.el
/secrets.el
*~
/emacs-meta
/ac-comphist.dat
/tramp
/session*
/pre-startup.el
/post-startup.el
/rcirc-log
/abbrev_defs
bin/emms-print-metadata
elpa/
emms/
url/
image-dired/
semanticdb/
el-get/
/.mc-lists.el
